.message {
	font-size:25px;
	font-family: 'Lucida Sans Unicode';
}

.emote {
	vertical-align: middle;
}
.name {
	font-weight:bold;
}

.messageTime {
	font-weight: lighter;
	color: rgb(79,57,80);
}

#my-chat {
	/*background-color:  	rgb(207, 159, 255,0.8); /*if empty background will be transparent*/
	color: white;
	position: absolute;
	bottom:0;
	padding: 10px;
}